body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.navbar{
background:#020617;
padding:15px;
text-align:center;
color:#22c55e;
font-size:20px;
}

.layout{
display:flex;
}

.menu{
width:150px;
background:#020617;
height:100vh;
}

.menu button{
width:100%;
padding:10px;
background:none;
border:none;
color:white;
cursor:pointer;
}

.menu button:hover{
background:#1e293b;
}

.main{
flex:1;
padding:20px;
}

.page{
display:none;
}

.active{
display:block;
}
